!Xft.dpi:       220
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background:        #222D31
XTerm*foreground:        #d8d8d8
XTerm*pointerColor:      #1ABB9B
XTerm*faceName:          Fixed
XTerm*faceSize:          12
XTerm*reverseVideo:      on
XTerm*selectToClipboard: true
Xcursor.theme: xcursor-breeze
Xcursor.size:                     0

!*fading:                          8
!*fadeColor:                       black
!*background:                      #222D31
!*foreground:                      #d8d8d8
!*cursorColor:                     #1ABB9B
!*pointerColorBackground:          #2B2C2B
!*pointerColorForeground:          #16A085
!!! black dark/light
!*color0:                          #222D31
!*color8:                          #585858
!!! red dark/light
!*color1:                          #ab4642
!*color9:                          #ab4642
!!! green dark/light
!*color2:                          #7E807E
!*color10:                         #8D8F8D
!!! yellow dark/light
!*color3:                          #f7ca88
!*color11:                         #f7ca88
!!! blue dark/light
!*color4:                          #7cafc2
!*color12:                         #7cafc2
!!! magenta dark/light
!*color5:                          #ba8baf
!*color13:                         #ba8baf
!!! cyan dark/light
!*color6:                          #1ABB9B
!*color14:                         #1ABB9B
!!! white dark/light
!*color7:                          #d8d8d8
!*color15:                         #f8f8f8


!! Grayscale light

!*background:  #f7f7f7
!*foreground:  #464646
!*cursorColor: #000000
!*color0:      #101010
!*color1:      #7c7c7c
!*color2:      #8e8e8e
!*color3:      #a0a0a0
!*color4:      #686868
!*color5:      #747474
!*color6:      #868686
!*color7:      #b9b9b9
!*color8:      #525252
!*color9:      #7c7c7c
!*color10:     #8e8e8e
!*color11:     #a0a0a0
!*color12:     #686868
!*color13:     #747474
!*color14:     #868686
!*color15:     #f7f7f7
!*color16:     #999999
!*color17:     #5e5e5e
!*color18:     #252525
!*color19:     #464646
!*color20:     #ababab
!*color21:     #e3e3e3

!*background:  #f7f7f7
!*foreground:  #464646
!*cursorColor: #000000
!*color0:      #101010
!*color1:      #7c7c7c
!*color2:      #8e8e8e
!*color3:      #a0a0a0

!*color4:      #bbbbbb

!*color5:      #747474
!*color6:      #868686
!*color7:      #b9b9b9

!*color8:      #a093c7

!*color9:      #7c7c7c
!*color10:     #8e8e8e
!*color11:     #a0a0a0
!*color12:     #686868
!*color13:     #747474
!*color14:     #868686
!*color15:     #f7f7f7
!*color16:     #999999
!*color17:     #5e5e5e
!*color18:     #252525
!*color19:     #464646
!*color20:     #ababab
!*color21:     #e3e3e3

! Iceberg Dark
!! special
*.foreground:   #c6c8d1
*.background:   #161821
*.cursorColor:  #c6c8d1

! black
*.color0:       #161821
*.color8:       #6b7089

! red
*.color1:       #e27878
*.color9:       #e98989

! green
*.color2:       #b4be82
*.color10:      #c0ca8e

! yellow
*.color3:       #e2a478
*.color11:      #e9b189

! blue
*.color4:       #84a0c6
*.color12:      #91acd1

! magenta
*.color5:       #a093c7
*.color13:      #ada0d3

! cyan
*.color6:       #89b8c2
*.color14:      #95c4ce

! white
*.color7:       #c6c8d1
*.color15:      #d2d4de
